html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial';
  background-color: rgb(250, 248, 236);
  color: #4a4a4a;
  margin-left: 15%;
  margin-right: 15%;
}

img{
  max-width: 300px;
  max-height: 200px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro';
}

a, a:visited {
  color: rgb(0, 159, 218);
}
a:visited, a:active {
  text-decoration: none;
}

/* Overrides */
.ui.secondary.menu .item > .input input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* Admin page */
.ui.header {
  font-weight: lighter;
}

.ui.breadcrumb {
  font-family: 'Source Sans Pro';
}


/* User page */
.user-page h1,
.user-page h2,
.user-page h3,
.user-page h4,
.user-page h5,
.user-page h6 {
  text-align: center;
}

.user-page .ui.button {
  color: #339900;
}