<div class="ui huge breadcrumb">
  {{#link-to "projects" class="section"}}Projects{{/link-to}}
</div>

<div class="ui secondary menu">
  <a class="active item">All Projects</a>
  <a class="item">Pending</a>
  <a class="item">In Progress</a>
  <a class="item">Completed</a>

  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<div class="ui divider"></div>


<div class="ui stackable items">

  {{#link-to "projects.project" 1 class="item" tagName="div"}}
    <div class="image">
      <img src="http://placehold.it/300x200">
      <div class="ui right red corner label">
        <div class="text">New</div>
      </div>
    </div>
    <div class="content">
      <div class="name">Project 1</div>
      <p class="description">Twas brillig and the slithy toves did gyre and gimble in the wabe.</p>
    </div>
  {{/link-to}}

  {{#link-to "projects.project" 1 class="item" tagName="div"}}
    <div class="image">
      <img src="http://placehold.it/300x200">
    </div>
    <div class="content">
      <div class="name">Project 2</div>
      <p class="description">All mimsy were the borogroves and the mome raths outgrabe.</p>
    </div>
  {{/link-to}}

  {{#link-to "projects.project" 1 class="item" tagName="div"}}
    <div class="image">
      <img src="http://placehold.it/300x200">
    </div>
    <div class="content">
      <div class="name">Project 3</div>
      <p class="description">Beware the Jabberwock my son, the jaws that bite, the claws that catch.</p>
    </div>
  {{/link-to}}

  {{#link-to "projects.project" 1 class="item" tagName="div"}}
    <div class="image">
      <img src="http://placehold.it/300x200">
    </div>
    <div class="content">
      <div class="name">Project 4</div>
      <p class="description">Beware the Jubjub bird and shun, the frumious Bandersnatch.</p>
    </div>
  {{/link-to}}

</div>