<div class="ui huge breadcrumb">
  {{#link-to "projects" class="section"}}Projects{{/link-to}}
  <i class="right arrow icon divider"></i>
  {{#link-to "projects.project" 1 class="section"}}{{name}}{{/link-to}}
</div>

<div class="ui progress teal">
  <div class="bar" style="width:25%"></div>
</div>

<ul class="todos">
	<li>Step 1</li>
	<li>Step 2</li>
	<li>Step 3</li>
	<li>Step 4</li>
</ul>

<p>{{description}}</p>