<div class="ui feed segment">
  <h2 class="ui header">Recent Activity</h2>

  {{#each model}}
    <div class="event">
      <div class="label">
        <img src="http://placekitten.com/45/45">
      </div>
      <div class="content">
        <div class="date">
          {{date}}
        </div>
        <div class="summary">
          {{subject}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

<div class="ui feed segment">
  <h2 class="ui header">Needs Action</h2>

  {{#each model}}
    <div class="event">
      <div class="label">
        <img src="http://placekitten.com/45/45">
      </div>
      <div class="content">
        <div class="date">
          {{date}}
        </div>
        <div class="summary">
          {{subject}}
        </div>
      </div>
    </div>
  {{/each}}
</div>