<h2>Welcome!</h2>

<h3>Let's Earn Your Gold Award!</h3>

<div class="ui menu">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <img src="images/upload-02.png" height="35px"> Submit
  </a>
  <a class="item" href="user/to-dos">
     <img src="images/to-do.png" height="35px"> To-Dos
  </a> 
  <a class="item" href="messages">
    <img src="images/messages.png" height="35px"> Messages
  </a>
   <a class="item">
    <img src="images/calendar.png" height="35px"></i> Calendar
  </a>
  <a class="item" href="user/login">
    Login
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<img src="http://www.girlscouts.org/images/who_we_are/history/goldaward/jlow_pinning_eaglet.jpg">

<h4>
  What Do I Need To Do?
</h4>
<ul>
<li>
  STEP 1: Choose an Issue
</li>

<p>
  Use your values and skills to identify a community issue you care about.  
</p>

<li>
  STEP 2: Investigate
</li>

<p>
   Research everything you can about the issue.
</p>

<li>
  STEP 3: Get Help (talk to a Gold Award Advisor)
</li>
<p>
   Invite others to support and take action with you.
</p>

<li>
  STEP 4: Create A Plan
</li>
<p>
   Create a project plan that achieves sustainable and measurable impact.
</p>
<li>
  STEP 5: Present your Plan and Get Feedback
</li>
<p>
  This is where you submit your proposal. Sum up your project plan for your Girl Scout council. (this is also where your progress bar will begin to track your progress) 
</p>
<li>
  STEP 5a: Paperwork Assigned to Gold Commitee Members
</li>
<p>
  Two gold award commitee members will be assignd to your project and will help you make revisions
</p>

<li>
  STEP 5b: REVISE
</li>
<p>
  Keep revising until your proposal is approvrd by commitee members an you are given permission to start step 6. 
</p>
<li>
  STEP 6: Take Action
</li>
<p>
  Go ahead and carry out your project!
</p>
<li>
  STEP 7: Educate and Inspire
</li>
<p>
   Reflect on what you have learned when you present your Girl Scout Gold Award Final Report to your council. Summarize the effectiveness of your project and the impact it has had on you and your community.
</p>
<li>
  STEP 8: Finish Gold Award
</li>
<p>
  Recieve final confirmation, and answer any un-answered questions 
</p>
<li>
  STEP 9: Attend Gold Award Ceremony 
</li>
<p>
  Celebrate and recive your pin! You have done a FANTASTICAL job!
</p>
</ul>

<div class="ui green button">
Let's Get Started!
</div>