<h2>Welcome!</h2>

<h3>Let's Earn Your Gold Award!</h3>

<div class="ui menu">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <i class="mail icon"></i> Submit
  </a>
  <a class="item">
    <i class="mail icon"></i> To-Do's
  </a>
  <a class="item">
    <i class="mail icon"></i> Messages
  </a>
   <a class="item">
    <i class="mail icon"></i> Calendar
  </a>
  <a class="item">
    <i class="mail icon"></i> Login
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>

<h4>Next Deadline: March 31st (View Calendar)</h4>
<h4>
Your Progress:
</h4>
<h4>
	What Is A Gold Award?
</h4>
<p>
	Since 1916, Girl Scout’s highest award has stood for excellence and leadership for girls everywhere. 
Soon, you will be joining the ranks of generations of young women who have made a difference in their 
communities and beyond. 
 
As a Girl Scout, you are part of the sisterhood of the World Association of Girl Guides and Girl Scouts, a 
global movement comprised of more than ten million girls worldwide who are using their talents to 
positively impact their communities. With your talent and passion, you, too, can make changes in your 
community that can reach people around the world. 
 
The Girl Scout Gold Award is the highest and most prestigious award that a Girl Scout Senior or 
Ambassador may earn. Fulfilling the requirements for the Girl Scout Gold Award starts with completing 
two Girl Scout Senior or Ambassador journeys or having earned the Silver Award and completing one 
Senior or Ambassador journey. Each journey you complete gives you the skills you need to plan and 
implement your Take Action Project. 
 
After you have fulfilled the journey(s) requirement, 80 hours is the suggested minimum hours for the 
steps: identifying an issue, investigating it thoroughly, getting help and building a team, creating a plan, 
presenting your plan, gathering feedback, taking action, and education and inspiring other. The 
suggested minimum hours are not a rule; they are a guide for you to plan your time in achieving your 
goal.
</p>
<h4>
	What Do I Need To Do?
</h4>
<ul>
<li>
	<strong>STEP 1: Choose an Issue</strong>
</li>

<p>
	Use your values and skills to identify a community issue you care about.	
</p>

<li>
	<strong>STEP 2: Investigate</strong>
</li>

<p>
	 Research everything you can about the issue.
</p>

<li>
	<strong>STEP 3: Get Help (talk to a Gold Award Advisor)</strong>
</li>
<p>
	 Invite others to support and take action with you.
</p>

<li>
	<strong>STEP 4: Create A Plan</strong>
</li>
<p>
	 Create a project plan that achieves sustainable and measurable impact.
</p>
<li>
	<strong>STEP 5: Present your Plan and Get Feedback </strong>
</li>
<p>
	This is where you submit your proposal. Sum up your project plan for your Girl Scout council. (this is also where your progress bar will begin to track your progress) 
</p>
<li>
	<strong>STEP 5a: Paperwork Assigned to Gold Commitee Members</strong>
</li>
<p>
	Two gold award commitee members will be assignd to your project and will help you make revisions
</p>

<li>
	<strong>STEP 5b: REVISE</strong>
</li>
<p>
	Keep revising until your proposal is approvrd by commitee members an you are given permission to start step 6. 
</p>
<li>
	<strong>STEP 6: Take Action</strong>
</li>
<p>
	Go ahead and carry out your project!
</p>
<li>
	<strong>STEP 7: Educate and Inspire</strong>
</li>
<p>
	 Reflect on what you have learned when you present your Girl Scout Gold Award Final Report to your council. Summarize the effectiveness of your project and the impact it has had on you and your community.
</p>
<li>
	<strong>STEP 8: Finish Gold Award</strong>
</li>
<p>
	Recieve final confirmation, and answer any un-answered questions 
</p>
<li>
	<strong>STEP 9: Attend Gold Award Ceremony</strong> 
</li>
<p>
	Celebrate and recive your pin! You have done a FANTASTIC job!
</p>
</ul>
<div class="ui button">
  Let's Get Started!
</div>
