
<div class="ui menu">
  <a class="item" href="user">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <img src="images/upload-02.png" height="35px"> Submit
  </a>
  <a class="item" href="user/to-dos">
     <img src="images/to-do.png" height="35px"> To-Dos
  </a> 
  <a class="item" href="user/messages">
    <img src="images/messages.png" height="35px"> Messages
  </a>
   <a class="item">
    <img src="images/calendar.png" height="35px"></i> Calendar
  </a>
  <a class="active item" href="user/login">
    Login
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<p>Testing 123</p>

