<div class="ui comments segment">
  
  <div class="comment">
    <div class="avatar">
      <img src="http://placehold.it/45x45">
    </div>

    <div class="content">
      <div class="author">
        {{subject}}
      </div>
      <div class="metadata">
        <div class="date">{{date}}</div>
      </div>

      <div class="text">
        {{body}}
      </div>
    </div>
  </div>
</div>
