<div class="ui feed segment">
  <h2 class="ui header">Recent Activity</h2>

  <div class="event">
    <div class="label">
      <img src="http://placehold.it/45x45">
    </div>
    <div class="content">
      <div class="date">
        Yesterday
      </div>
      <div class="summary">
         <a>Margaret</a> created a new proposal
      </div>
    </div>
  </div>

  <div class="event">
    <div class="label">
      <img src="http://placehold.it/45x45">
    </div>
    <div class="content">
      <div class="date">
        Two days ago
      </div>
      <div class="summary">
         <a>Jennifer</a> created a new proposal
      </div>
    </div>
  </div>
</div>

<div class="ui feed segment">
  <h2 class="ui header">Needs Action</h2>

  <div class="event">
    <div class="label">
      <img src="http://placehold.it/45x45">
    </div>
    <div class="content">
      <div class="date">
        Yesterday
      </div>
      <div class="summary">
         <a>Margaret's</a> proposal is pending approval
      </div>
    </div>
  </div>

  <div class="event">
    <div class="label">
      <img src="http://placehold.it/45x45">
    </div>
    <div class="content">
      <div class="date">
        An hour ago
      </div>
      <div class="summary">
         <a>Isabelle's</a> project is complete
      </div>
    </div>
  </div>
</div>