<table class="ui padded table segment">
  <thead>
    <tr>
      <th>From</th>
      <th>Subject</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Olivia</td>
      <td>Subject</td>
    </tr>
    <tr>
      <td>Jamie</td>
      <td>Subject</td>
    </tr>
  </tbody>
</table>

{{ outlet }}