<div class="ui comments segment">
  
  <div class="comment">
    <div class="avatar">
      <img src="http://placehold.it/45x45">
    </div>

    <div class="content">
      <div class="author">
        Subject
      </div>
      <div class="metadata">
        <div class="date">2 days ago</div>
      </div>

      <div class="text">
        <p>Twas brillig and the slithy toves</p>
        <p>did gyre and gimble in the wabe</p>
        <p>All mimsy were the borogroves</p>
        <p>And the mome raths outgrabe</p>

        <br>

        <p>Beware the Jabberwock my son</p>
        <p>The jaws that bite, the claws that catch</p>
        <p>Beware the Jubjub bird and shun</p>
        <p>The frumious Bandersnatch</p>
      </div>
    </div>
  </div>
</div>
