<div class="ui menu">
  <a class="active item" href="/admin">Home</a>
  <a class="item" href="/admin/projects">Projects</a>
  <a class="item" href="/admin/users">Users</a>
</div>

<div class="container">
  {{outlet}}
</div>