<div class="admin-page">
  <div class="ui menu">
    <a class="active item" href="/admin">Home</a>
    <a class="item" href="/admin/projects">Projects</a>
    <a class="item" href="/admin/users">Users</a>
    <a class="item" href="/admin/messages">Messages</a>
  </div>

  <div class="container">
    {{outlet}}
  </div>
</div>