<div class="admin-page">
  <div class="ui menu">
  	{{#link-to "admin"          class="item"}}Home{{/link-to}}
  	{{#link-to "admin.projects" class="item"}}Projects{{/link-to}}
  	{{#link-to "admin.users"    class="item"}}Users{{/link-to}}
  	{{#link-to "admin.messages" class="item"}}Messages{{/link-to}}
  </div>

  <div class="container">
    {{outlet}}
  </div>
</div>