<div class="committee-page">
  <div class="ui menu">
  	{{#link-to "committee" class="item"}}Home{{/link-to}}
  	{{#link-to "projects"  class="item"}}Projects{{/link-to}}
  	{{#link-to "messages"  class="item"}}Messages{{/link-to}}
  </div>

  <div class="container">
    {{outlet}}
  </div>
</div>