<div class="ui huge breadcrumb">
  {{#link-to "messages" class="section"}}Messages{{/link-to}}
</div>

<div class="ui divider"></div>

<div class="ui segment">
  <table class="ui padded table segment">
    <thead>
      <tr>
        <th>From</th>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Olivia</td>
        <td><a href="/admin/messages/1">Subject</a></td>
      </tr>
      <tr>
        <td>Jamie</td>
        <td><a href="/admin/messages/2">Subject</a></td>
      </tr>
    </tbody>
  </table>

  {{outlet}}
  
</div>