<div class="ui huge breadcrumb">
  {{#link-to "users" class="section"}}Users{{/link-to}}
</div>

<div class="ui secondary menu">
  <a class="active item">All Users</a>
  <a class="item">Admins</a>
  <a class="item">Committee Members</a>
  <a class="item">Project Leaders</a>

  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<div class="ui divider"></div>


<table class="ui padded table segment">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {{#each model}}
      <tr>
        <td>{{name}}</td>
        <td>Approved</td>
        <td></td>
      </tr>
    {{/each}}
  </tbody>
</table>
